@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  height: 100%;
}
input{
  @apply bg-gray-200 border focus:outline-none focus:bg-white focus:border border-gray-200
}
#root {
  height: 100%;
}
.unauthorized-layout {
  @apply h-full bg-slate-50 bg-opacity-25;
}
.authorized-layout {
  @apply h-screen w-screen bg-customBlue;
}
.alert-container {
  @apply w-60 fixed bottom-2 left-2 pointer-events-none;
}
.alert-error {
  @apply bg-red-400 rounded-md text-black h-28;
}
.search-chat-input {
  @apply w-full py-2 px-6 rounded-3xl mb-4 placeholder:text-sm;
}
